= form_for @order, html: { class: "form form-horizontal order" } do |f|
  = render 'shared/errors', resource: @order
  .form-group
    = f.label :first_course, class: 'control-label col-lg-2'
    .col-lg-10
      = f.collection_check_boxes :item_ids, @menu.items.first_course, :id, :name, {multiple: false}
    = f.error_span(:first_course)
  .form-group
    = f.label :second_course, class: 'control-label col-lg-2'
    .col-lg-10
      = f.collection_check_boxes :item_ids, @menu.items.second_course, :id, :name, {multiple: false}
    = f.error_span(:second_course)
  .form-group
    = f.label :drink, class: 'control-label col-lg-2'
    .col-lg-10
      = f.collection_check_boxes :item_ids, @menu.items.drink, :id, :name, {multiple: false}
    = f.error_span(:drink)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), orders_path, :class => 'btn btn-default'
